<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:compileSdkVersion="31"
    android:compileSdkVersionCodename="12"
    package="com.google.android.apps.nexuslauncher.plmoverlay"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:targetSdkVersion="33"
        android:minSdkVersion="31"
        tools:ignore="GradleOverrides" />

    <overlay
        android:priority="10"
        android:targetName="PixelLauncherModsOverlay"
        android:targetPackage="com.google.android.apps.nexuslauncher" />

    <application
        android:allowBackup="false"
        android:hasCode="false"
        android:label="PixelLauncherModsOverlay"
        tools:ignore="DataExtractionRules,MissingApplicationIcon" />

</manifest>